<style type="text/css">
body{
    margin: 0;
    padding:0;
}
#cabeçalho{
    text-align:center;
    background-color: none;
    padding: 30px;
    font-family: garamond;
    color: black;
    font-size: 30px;
   
}

#submenu{
    text-align: center;
    font-size: 20px;
    font-family:garamond;
    list-style:none;
    background-color: white;
    float:rigth;
    margin-top:0px;
    cursor:xpoint;
    overflow:auto;
    margin-left: 400;
    margin-right:400;
    padding:30;
    word-spacing: 60px;
    position: relative; 
       
}
#texto{
    background-color:white;
    margin:10px;
}
a:link{
    text-decoration: none;
    color:black;
}
a.classe1:visited {

text-decoration:none;
color:red;

}

a:hover {

text-decoration: underline;
color:black;
}
a:active {
text-decoration: none
}


li{
    link: white;
    vlink:red; 
    alink:white;
}
